body {
  font-family: 'Mina', sans-serif;
  margin: 0;
  padding: 20px;
  background: #f0f0f0;
}

.root {
  display: grid;
  grid-template-columns: repeat(2, 430px); 
  grid-auto-rows: 260px; 
  gap: 20px; 
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}

.wrap-item,
.item {
  width: 100%;
  height: 100%;
  padding: 10px 10px 1px;
  background: #000000;
  box-sizing: border-box;
  position: relative;
}

.item-video iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: calc(100% - 30px); 
  border: none;
}

.item-article h3 {
  display: table-cell;
  margin: 0 auto;
  width: 100%;
  height: calc(100% - 30px);
  text-align: center;
  vertical-align: middle;
  font-size: 140%;
  font-weight: normal;
  padding: 0 10px;
  box-sizing: border-box;
}

.item-article h3 a {
  color: #ffffff;
  text-decoration: none;
}

.item-article h3 a:hover {
  text-decoration: underline;
}

.item .views {
  margin: 6px 0 0 0;
  text-align: right;
  font-size: 80%;
  color: #cccccc;
}

.wrap-item {
  position: relative;
}

.wrap-item .label {
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 1px solid;
  border-radius: 3px;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  z-index: 1;
}

.wrap-item .item {
  width: 100%;
  height: 100%;
  margin: 0;
}

.wrap-item-new {
  background-color: rgba(41, 198, 31, 0.47);
}

.wrap-item-new .label {
  background-color: rgba(15, 145, 37, 0.72);
  border-color: rgba(15, 145, 37, 1);
}

.wrap-item-popular {
  background-color: rgba(231, 0, 25, 0.64);
}

.wrap-item-popular .label {
  background-color: rgba(176, 0, 24, 0.73);
  border-color: rgba(176, 0, 24, 1);
}

@media (max-width: 900px) {
  .root {
    grid-template-columns: 1fr;
    max-width: 430px;
  }
}